<div class="row">
    <table class="table table-bordered" style="width: 295px;">
        <tr  style="width: 150px;">
            <td>Cercador</td>
        </tr>
        <tr>
            <td class="form-horizontal">
                <input type="text"  class="form-control" id="searchText" placeholder="Introdueix el text a cercar"/>
                <button id="search" class="btn btn-default" title="Cerca el text">Cerca el text</button>
            </td>
        </tr>
    </table>
</div>
<br>
<div class="row">
    <table style="width: 85%">
        <tr>
            <td>
                <a class="btn primary btn-block" id="delete" title="Elimina el correu">
                <div class="thumbnail img-responsive">
                    <img  src="img/recyclebin.png" alt="Icona per eliminar el correu">
                    <div class="caption">
                        <p class="text-center">Eliminar <br>definitivament</p>
                    </div>
                </div>
                </a>
            </td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>
                <a class="btn primary btn-block" id="unblock" title="Desbloqueja el remitent">
                <div class="thumbnail img-responsive">
                    <img  src="img/no-block.png" alt="Icona per desbloquejar el missatge">
                    <div class="caption">
                        <p class="text-center">Desbloqueja el<br> remitent</p>
                    </div>
                </div>
                </a>
            </td>
        </tr>
    </table>
</div>
<br>