<br>
<div class="panel panel-default col-sm-9" style="width:100%;border-color:brown">
    <br>
    <strong>Per:&nbsp<input type="text" id="to" class="form-control search" placeholder="Introdueix el destinatari" title="Introdueix el destinatari"/></strong><br>
    <strong>Assumpte: <input type="text" id="subject" class="form-control" placeholder="Introdueix l'assumpte del correu" title="Introdueix l'assumpte"/></strong><br>
    <strong>Enviar còpia: <input type="text" id="cc" class="form-control search" placeholder="Introdueix si algú ha de rebre una còpia del correu" title="Introdueix els destinataris amb còpia"/></strong><br>
    <strong>Enviar còpia oculta: <input type="text" id="cco" class="form-control search" placeholder="Introdueix si algú ha de rebre una còpia d'amagat del correu" title="Introdueix els destinatari amb còpia oculta"/></strong><br>
</div>
<br><br>
<div class="panel panel-default col-sm-9" style="width:100%;border-color:brown">
    <br>
    <strong>Missatge:</strong><br>
    <div>
        <textarea id="message" class="escriuretextarea form-control" style="height:300px" placeholder="Introdueix el missatge" title="Introdueix el missatge"></textarea>
    </div>
    <br>
    <strong>Fitxers adjunts:</strong> <a style="cursor:pointer;text-decoration:none" id="mesFitxers"  title="Afegeix més fitxers adjunts"><b>(+)</b></a>
    <br>   <br>
    <div id="fitxers">
    </div>
    <br>
</div>