<div class="panel panel-default col-sm-9" style="width:100%;">
<br><br>
    <div id="newContact" class="panel panel-default col-sm-10" style="border-color:brown">
        <br>
        <strong>Nom:&nbsp</strong><input type="text" name="name" class="form-control"/><br>
        <strong>Correu:&nbsp</strong><input type="text" name="mail" class="form-control" /><br>
        <strong>Notes:&nbsp</strong><br>
        <div>
            <textarea name="notes" class="form-control" style="height:200px"></textarea>
        </div>
        <br>
        <strong>Imatge:</strong>
        <br>   <br>
        <div id="fitxers">
            <input type="file" name="file"/>
        </div>
        <br>   <br>
    </div>
    <div class="col-sm-2">
        <button class="pull-right btn btn-default" style="border-color:black" id="addContact">Afegeix contacte</button>
    </div>
</div>