<div class="row"  style="width: 295px;">
    <a class="btn primary btn-block listContact" title="Consulta la llista de contactes">
        <div class="thumbnail img-responsive">
            <img  src="img/list_contact.png" alt="Icona per llistar els contactes">
            <div class="caption">
                <p class="text-center">Consulta la llista de contactes</p>
            </div>
        </div>
    </a>
</div>
<br><br>
<div class="row"  style="width: 295px;">
    <a class="btn primary btn-block addContact" title="Afegeix un nou contacte">
        <div class="thumbnail img-responsive">
            <img  src="img/add_contact.png" alt="Icona per afegir un nou contacte">
            <div class="caption">
                <p class="text-center">Afegeix nou contacte</p>
            </div>
        </div>
    </a>
</div>