<div class="row"  style="width: 295px;">
    <a class="btn primary btn-block" id="printMessage" title="Imprimeix el correu">
        <div class="thumbnail img-responsive" alt="Icona per imprimir el correu">
            <img  src="img/impresora.png">
            <div class="caption">
                <p class="text-center">Imprimeix el correu</p>
            </div>
        </div>
    </a>
</div>
<br><br>
<div class="row">
    <table>
        <tr>
            <td>
                <a class="btn primary btn-block" id="deleteMessage" title="Elimina el correu">
                <div class="thumbnail img-responsive">
                    <img  src="img/recyclebin.png" alt="Icona per eliminar el correu">
                    <div class="caption">
                        <p class="text-center">Elimina missatge</p>
                    </div>
                </div>
                </a>
            </td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>&nbsp</td>
            <td>
                <a class="btn primary btn-block" id="blockMessage" title="Bloqueja el remitent">
                <div class="thumbnail img-responsive">
                    <img  src="img/block.png" alt="Icona per bloquejar el remitent">
                    <div class="caption">
                        <p class="text-center">Bloqueja el remitent</p>
                    </div>
                </div>
                </a>
            </td>
        </tr>
    </table>
</div>
<br><br>
<div class="row"  style="width: 295px;">
    <a class="btn primary btn-block" id="arxivarMessage" title="Arxiva o mou el correu">
    <div class="thumbnail img-responsive" alt="Icona per arxivar el correu">
        <img  src="img/arxivador.png">
        <div class="caption">
            <p class="text-center">Arxiva o mou el correu</p>
        </div>
    </div>
    </a>
</div>